*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #8686AC;
    text-align: center;
}

.container{
    height:70vh;
    /* width: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); */
    font-size: 8vmin;
    Color: #0F0E47;
    background-color: #505081;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #272757;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(30, 30, 80, 0.5);

}

#reset-btn:hover {
  box-shadow: 0 0 20px #f1f2fd, 0 0 40px #e7e8f0, 0 0 60px #1a237e;
  transform: scale(1.05);
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #272757;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(30, 30, 80, 0.5)
}
#new-btn:hover {
  box-shadow: 0 0 20px #f1f2fd, 0 0 40px #e7e8f0, 0 0 60px #1a237e;
  transform: scale(1.05);
}

#msg{
    font-size: 6vmin;
}

.msg-cont{
    height: 20vmin;
}
.hide{
    display: none;
}